
  
  .monokai {
background-color: #272822;
color: #f8f8f2;
}

.monokai .mtk1 { color: #F8F8F2; }
.monokai .mtk2 { color: #272822; }
.monokai .mtk3 { color: #75715E; }
.monokai .mtk4 { color: #AE81FF; }
.monokai .mtk5 { color: #A6E22E; }
.monokai .mtk6 { color: #E6DB74; }
.monokai .mtk7 { color: #F92672; }
.monokai .mtk8 { color: #F8F8F0; }
.monokai .mtk9 { color: #66D9EF; }
.monokai .mtk10 { color: #FD971F; }
.monokai .mtk11 { color: #AE81FFA0; }
.monokai .mtk12 { color: #CFCFC2; }
.monokai .mtk13 { color: #B267E6; }
.monokai .mtk14 { color: #F44747; }
.monokai .mtk15 { color: #6796E6; }
.monokai .mtk16 { color: #CD9731; }
.monokai .mtki { font-style: italic; }
.monokai .mtkb { font-weight: bold; }
.monokai .mtku { text-decoration: underline; text-underline-position: under; }
